<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-image: url('https://lh5.googleusercontent.com/-HcuA43wGw2w/U_q6_zyvvwI/AAAAAAAAQlY/jLK416X7mK0/s1220/3003.png');">
    <h1
        style="color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; font-size: 100px;">
        <b><i> Register Malware Contributer </i></b></h1>
    <form action="http://localhost:8000/CreateUser/" method="get" style="text-align: center;">
        <label for="email" style="color: white; font-size: 25px;"><i><b>Email</b></i></label><br /><br />
        <input type="text" placeholder="Enter email here" name="email"
            style="border-radius: 8px; border: 4px solid green; width: 50%; box-sizing: border-box;height: 70px;"><br /><br />
        <label for="passcode" style="color: white; font-size: 25px;"><i><b>Password</b></i></label><br /><br />
        <input type="password" placeholder="Enter passcode here" name="passcode"
            style="border-radius: 8px; border: 4px solid green; width : 50%; box-sizing: border-box;height: 70px;"><br /><br />
        <input type="submit" value="register" name="submit" style="border-radius: 4px; height: 20px;"><br /><br />
    </form>
</body>

</html>